body
{
width:auto;
margin-left:auto;
margin-right:auto;
background-color:#1E1836;
margin:0;

}
#pojemnik{width:auto;margin-left:auto;margin-right:auto;}
#logo
{
	background-color:black;
	color:red;
	text-align:center;
	font-size:25px;
	padding:2px;
	letter-spacing:1ex;
	text-transform:uppercase;
	
	
	
}
.kontakt
{
	background-color:rgb(55, 54, 56);
	color:red;
	text-align:right;
	font-size:20px;
	float:left;
	min-height:990px;
	padding:10px;
	font-size:26px;
	width:139px;
}
#zdjecia
{
	background-color:#9c8e91;
	width:1000px;
	min-height:640px;
	float:left;
}
#opis{   background-color:white;font-size:40px;letter-spacing:1mm;height:1010px;text-align: justify;font-family: 'Chela One', cursive;}

.bok
{
	background-color:black;
	color:#ffffff;
	text-align:center;
	padding-top:10px;
	width:100px;
	height:1000px;
	float:left;
}
#stopka
{
clear:both;
background-color:black;
color:#598f89;
width:auto;
height:50px;
text-align:center;
font-size:36px;

}
.stopka:hover
{
	background-color:#BF1C1C;
	color:red;
}
a{text-decoration:none;}
a:link
{
	color-text:green;
}
a:visited
{
	color:royalblue;
}
a:hover
{
	color:#0FD11C;
}













